<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    use Spring to create object, which called Bean-->
    <bean id="hello" class="com.shengxiang.pojo.Hello">
        <property name="str" value="spring"/>
<!--        利用set方法-->
    </bean>
</beans>